body {
    padding: 10px;
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-weight: 100 ;
    color: black;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;

}
.element .done{
    text-decoration: line-through;
}
.element input{

    border: 1px solid black;
    font-weight: 100;
    padding: 15px;
    font-size: 20px;
    margin:5px;
}
.element button{
    padding: 10px;
    font-size: 20px;
    margin: 3px;
    background-color: #FFF;
    border: 1px solid black;
    font-weight: 100;

}
.inputForm input
{
    padding: 15px;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid black;
    margin-right: 32px;

}
.inputForm button {
    padding: 10px;
    font-size: 20px;
    background-color: #FFF;
    border: 1px solid black;
    font-weight: 100;

}


